body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBF7F0;
}
#logo{
    width: 10%;
}
.nomeblog{
    color: #4D4447;
}
hr{
    width: 900px 2px;
    color: #4D4447;
}
#carrosel{
    width: 60%;
    margin-left: 20%;
    background-color: #FBF7F0;

}
#rodape{
    background-color: #FBF7F0;
}
.imagem img{
    width: 100%;
    max-width:200px;
    max-height:200px;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.textofofo{
    text-align: center;
    font-style: normal;
}
.nav-link{
    color: #4D4447;
}
.topico{
    float: left;
    
}
.textonoticia{
    text-align: center;
    font-style: normal;
    padding-top: 100px;
}

.textinho img{
   width: 10%;
padding-top: 50px;
}
.realoficial{
    text-align: center;
}
#imagemnot{
    width: 40%;
    justify-content: center;
}
/* cada dia mais eu me pergunto pq não comecei a vender drogas*/